{% extends 'base.html'%}
<title>Task Master</title>
{%block head %}

{% endblock %}
{%block body %}
	<header>
		<div class="row">
			<div class="col">
				<img class="style-logo" src="{{url_for('static',filename='images/knowingvincelogo.png')}}" alt="knowing vince">
				<nav class="style-nav">
					<ul>
						<li><a href="#">Knowing Vince</a></li>
						<li><a href="#">In San Visio</a></li>
						<li><a href="#">Park People</a></li>
						<li><a href="#">The Marmont</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
<main>
<div class="content">
	<h1>Task Master</h1>
	{% if tasks|length <1 %}
	<h4>No Tasks Bitch</h4>
	{% else %}
	<table border="1" width="800px">
		<tr>
			<th>Task</th>
			<th>Added</th>
			<th>Actions</th>
		</tr>
		{% for task in tasks %}
			<tr>
				<td>{{task.content}}</td>
				<td>{{task.date_created.date()}}</td>
				<td>
					<a href="/delete/{{task.id}}">Delete</a>
					<br>
					<a href="/update/{{task.id}}">Update</a>
				</td>
			</tr>
		{% endfor %}
		
	</table>
	{% endif %}
<form action="/" method="POST">
<input type="text" name="content" id="content" autocomplete="off">
	<input type="submit" value="Add Task" name="Add">
</form>
</div>
</main>
{% endblock %}